In [1]:
import pandas as pd
import numpy as np

In [ ]:
# We are creating a fruits and its weight. We intentionally write the weight of the grapes nan
#and the weight of the mango as ' '. 
#Now we use coding skill to convert the magno weight entry into nan

In [2]:
Mat = {'fruits':['Apple','Banana','Cherries','Grapes','Mango'], 'Weights':['5 kg', '10 kg', '14 kg',np.nan,' ']}

In [3]:
Data = pd.DataFrame(Mat)#This convert the dictionary into data frame
Data # This is to print the Data

     fruits Weights
0     Apple    5 kg
1    Banana   10 kg
2  Cherries   14 kg
3    Grapes     NaN
4     Mango

In [4]:
Data[Data.isnull().any(axis=1)] #This will check all the rows of data and locate the missing data

   fruits Weights
3  Grapes     NaN

In [5]:
Data.iloc[-1]['Weights']

' '

In [ ]:
Data['Weights'] = Data['Weights'].str.strip()
Data.iloc[-1]['Weights']

In [ ]:
mask = Data['Weights'].str.strip()==''
Data.loc[mask,'Weights'] =np.nan
Data